<div class="panel-buttons">
  <button mat-raised-button (click)="changePage('home')">Home</button>
  <button mat-raised-button (click)="changePage('staking')">Staking</button>
  <button mat-raised-button (click)="changePage('board')">Board</button>
  <button mat-raised-button (click)="changePage('md')">Dashboard</button>
  <button mat-raised-button (click)="changePage('cabinet')">Cabinet</button>
  <button mat-raised-button (click)="changePage('exchange')">Exchange</button>
  <button mat-raised-button (click)="changePage('rules')">Rules</button>
  <button mat-raised-button (click)="changePage('statistic')">Statistic</button>
  <button mat-raised-button (click)="changePage('info')">Info</button>
</div>
