<h2>Investor instructions</h2>
<div>
  <section>
    When investors open a position long or short, they bet on the fact that the price will rise or fall in the future.
    Experts, analysts, traders and others predict the future price. But no one is responsible for the inaccuracy of the
    forecast with their money, only the investors who opened the position. This project allows investors to make money
    on the accuracy of the forecast for the price of the underlying asset during the derivative expiration period. The
    owner of the smart contract issues a derivative with the following parameters: the classification of the underlying
    asset, the price of 1 derivative, the block number of the Ethereum blockchain of the start of expiration, the
    duration of the expiration when the expiration price will be calculated. During the expiration period, purchases of
    derivatives will be stopped, prices are recorded from the Chainlink Oracle to the smart contract and the average
    price is calculated as the expiration price. <p>After the <b>block > expiration block + duration</b> occurs, a calculation is
    made with the investors who made the price prediction closest to the obtained expiration price.</p> 5% of the total
    amount of the bank is transferred to the owner of the contract, 95% of the bank is divided among the rest of the
    winners. The 10 prices that are closest to the expiry price are determined. The average size of the prizeAvg for
    payments is determined. <p> Each winner receives:
     <b>prizeInvestor = prizeAvg - ABS ((priceInvestor - priceExpiration) /
    priceExpiration)%</b>.</p> <p>The investor who most closely predicted the price receives <b>prizeWinnerInvestor = bank -
    (prizeInvestor2 + ... prizeInvestor10)</b>.</p> Each investor takes a prize by calling a method from a smart contract. After
    the prizes have been awarded, the derivative is closed and the owner creates a new derivative for this underlying
    asset.
  </section>
</div>
