.buttons {
  display: flex;
  justify-content: space-around;
}
.content {
  height    : 200vh;
  padding: 25px;
}
button {
  margin: 10px;
}

mat-form-field {
  width: 100%;
}
.balance, label.mat-form-field-label {
  text-align: center;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}
