.noUi-target {
  height            : 8px;
  border-radius     : 4px;
  border            : none;
  -webkit-box-shadow: none;
  box-shadow        : none;
  background        : #e1e3e8
}

.noUi-connects {
  border-radius: 4px
}
.noUi-connect {
  background: #66b41f
}

.noUi-horizontal .noUi-handle {
  cursor: pointer;
  width : 28px;
  height: 28px;
  top   : -10px
}

.noUi-handle {
  background        : #66b41f;
  border            : 2px solid #fff;
  border-radius     : 50%;
  -webkit-box-shadow: none;
  box-shadow        : none
}

.noUi-handle:after {
  left             : 50%;
  top              : 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform    : translate(-50%, -50%);
  transform        : translate(-50%, -50%);
  width            : 12px;
  height           : 12px;
  background       : #fff;
  border-radius    : 50%
}

.noUi-handle:before {
  display: none
}
.noUi-handle.noUi-handle-lower {
  display: none;
  div.noUi-touch-area {
    display: none;
  }

}
